button{
  padding: 0;
  background-color: transparent;
  border-radius: 100%;
  .material-symbols-outlined{
    font-size: 3rem;
  }
  &:enabled:hover{
    color: var(--primary);
  }
  &:disabled:hover{
    color: var(--color-fatal);
  }
}
